* {
    padding: 0;
    margin: 0
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
}

button {
    position: absolute;
    left: 5%;
    top: 5%;
}

ul {
    margin: auto;
}

li {
    color: yellow;
    display: inline-block;
    font-size: 50px;
    font-family: 'Monda', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    text-shadow: 0 0 25px white, 0 0 12.5px yellow;
    transition: opacity 1s;
}

li:nth-child(2) {
    transform: rotate(30deg) translateY(4px);
    animation: neon 2s infinite linear;
}

.off {
    opacity: 0;
}

@keyframes neon {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0.5;
    }

    30% {
        opacity: 0.5;
    }

    32% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    46% {
        opacity: 0.5;
    }

    54% {
        opacity: 0.5;
    }

    55% {
        opacity: 1;
    }

    77% {
        opacity: 1;
    }

    78% {
        opacity: 0;
    }

    88% {
        opacity: 0;
    }

    90% {
        opacity: 1
    }

    93% {
        opacity: 1
    }

    95% {
        opacity: 0
    }

    97% {
        opacity: 0
    }

    98% {
        opacity: 1
    }

    100% {
        opacity: 0;
    }
}